 {% extends 'base.html.twig' %}

 {% block body %}
 {# A terminer : afficher les résultats proprement si il y a des données #}
    {# {%  for user in data %}
        <p>{{ user.id }}</p>
        <p>{{ user.name }}</p>
        <p>{{ user.fistname }}</p>
        <p>{{ user.phonenumber }}</p>
    {% endfor %} #}
 {% endblock %}