 {% extends 'base.html.twig' %}

 {% block body %}
 {# A terminer : afficher les résultats proprement si il y a des données #}
    
        {# <p>{{ data.id }}</p>
        <p>{{ data.name }}</p>
        <p>{{ data.fistname }}</p>
        <p>{{ data.phonenumber }}</p> #}

 {% endblock %}